// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.item-info {
	display: none;
}

a.list-group-item:nth-child(odd) {
	background: $gray-lighter;
}

button.plus-sign {
	color: red;
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 100;
	font-size: 4em;	
	background-color: white;
	height: 57px;
	width: 57px;
	border-radius: 55px;
	padding: 0;

	&:hover {
		text-shadow: 0 0 8px $gray-lighter;
	}

	&:focus {
	    outline: none;
	}
}

span.glyphicon-plus-sign {
	position: relative;
	top: -4px;
	left: -1px;

	&:focus {
	    outline: none;
	}
}

button#edit, button#unshare, button#share, button#delete-item {
	background-color: transparent;
	border: none;
}

.badge-edit {
	background-color: $brand-info !important;
}

.badge-unshare {
	background-color: $brand-warning !important;
}

.badge-share {
	background-color: $brand-success !important;
}

.badge-trash {
	background-color: $brand-danger !important;
}

.tab-content {
	margin-top: 2em;
}

.nav.nav-tabs {
	font-size: 1.5em;
}

.month-row {
	text-align: center;
	background-color: $brand-primary !important;
	font-weight: bold;
	color: white;
}

.transaction-container {
	border: 2px solid $gray;
	margin-bottom: 1em;
	// box-shadow: 1px 3px 20px $gray !important;
}

.members-div {
	text-align: right;

	.title {
		text-align: center;
	}
}

.member-div {
	display: inline-block;

	img { 
  	   position: relative; 
	   width: 100%; /* for IE 6 */
	}

	h2 { 
	   position: relative;
	   bottom: 20px;
	   width: 100%; 
	}
}

ul.list-group {
	margin-bottom: 0 !important;
}